a { color: black; }
a:hover { text-decoration: none; }
body { font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif; padding-left: 1rem; padding-right: 1rem; max-width: 50rem; margin: 1rem auto 0 0; }
p, pre, ul, hr, figure { margin: 1rem 0 1rem 0; padding: 0; }
h1 { margin: 1rem 0 0.5rem 0; padding: 0; font-size: 2.2rem; }
h2 { margin: 1rem 0 0.5rem 0; padding: 0; font-size: 1.4rem; }
h3 { margin: 1rem 0 0.5rem 0; padding: 0; font-size: 1rem; }
blockquote { padding: 0 0 0 0.8rem; margin: 0 0 0 0rem; border-left: 0.1rem solid var(--text); }
pre { overflow-x: auto; }
pre, code { font-family: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace; font-size: 1.05em; white-space: pre; }
ul { list-style-position: inside; }
li { margin: 0;padding: 0; }
hr { margin: 1.5rem 0 1.5rem 0; }
img { max-width: 100%; }
textarea { width: 100%; font-size: 1.05rem; min-height: 10rem; }
time { font-style: italic; }
del { text-decoration: line-through; background-color: #ffbbbb; color: #555555; }
ins { text-decoration: none; background-color: #d4fcbc; color: #000000; }
section { background: #FAE0E4; margin-bottom: 1rem; }
section:target { outline: 3px solid #F7CAD0; }
form { padding: 1rem; border: 3px solid #F7CAD0; display: flex; flex-direction: column; gap: 0.5rem; }
form.tags { flex-direction: row; }
form label * { width: 100%; }
section > * { padding-left: 0.5rem; padding-right: 0.5rem; }
section  th { padding-left: 0; }
nav { padding-bottom: 0.5rem; }
nav a { text-decoration: none; }
nav a:hover { text-decoration: underline; }
nav ol {  list-style-type: none; padding: 0; margin: 0; display: inline-block; }
nav li { display: inline-block; padding-right: 1rem; }
header { border-bottom: 3px solid #F7CAD0; }
footer { background: #F7CAD0; }
dd { margin-inline-start: 1rem; }
thead { background: #F7CAD0; }
th, td { font-weight: normal; text-align: left; padding-left: 0.5rem; padding-right: 0.5rem; }
time { font-style: normal; }

