a { color: black; }
a:hover { text-decoration: none; }
body { font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif; padding-left: 1rem; padding-right: 1rem; max-width: 50rem; margin: 1rem auto 0 0; }
p, pre, ul, hr, figure { margin: 1rem 0 1rem 0; padding: 0; }
h1 { margin: 1rem 0 0.5rem 0; padding: 0; font-size: 2.2rem; }
h2 { margin: 1rem 0 0.5rem 0; padding: 0; font-size: 1.4rem; }
h3 { margin: 1rem 0 0.5rem 0; padding: 0; font-size: 1rem; }
blockquote { padding: 0 0 0 0.8rem; margin: 0 0 0 0rem; border-left: 0.1rem solid var(--text); }
pre { overflow-x: auto; }
pre, code { font-family: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace; font-size: 1.05em; white-space: pre; }
ul { list-style-position: inside; }
li { margin: 0;padding: 0; }
hr { margin: 1.5rem 0 1.5rem 0; }
img { max-width: 100%; }
textarea { width: 100%; font-size: 1.05rem; min-height: 10rem; }
time { font-style: italic; }
del { text-decoration: line-through; background-color: #ffbbbb; color: #555555; }
ins { text-decoration: none; background-color: #d4fcbc; color: #000000; }
section { margin-left: 0.5rem; background: #F6F6F6; }
section:target { outline: 2px solid #D3D3D3; }
section > * { padding-left: 0.5rem; padding-right: 0.5rem; }
footer { background: #D3D3D3; }
dt, dd { display: inline; }
dd { margin-inline-start: 1rem; }
tr, th { text-align: left; }
th { font-weight: normal; padding-right: 1rem; }
time { font-style: normal; }

